.modal-overlay{
    position:fixed;
    display:flex;
    justify-content:center;
    align-items: center;
    top: 50px;        /* moves box 100px down from top */
    left: 50%;         /* center horizontally */
    transform: translateX(-50%); /* center exactly horizontally */
    z-index:1000; /*High z-index to sit above everything*/
}

.modal-content{
    background-color:blanchedalmond;
    width: 450px;
    height: 700px;
    font-family: 'Ma Zhan Sheng';
    display:flex;
    flex-direction:column;
    align-items: center;
    overflow-y: auto;/* enable vertical scroll if content exceeds height */
    padding:20px;
    border-radius:5px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    position: relative;
}

.decorative-background{
    width:100%;
    height:20%;
    top: 0;
    left: 0;
    position:absolute;
    z-index:0;
}

.top-buttons{
    display:flex;
    gap:10px;
}

.decorative-frame{
    margin:0;
    height:20%;
    top: 150px;
    right: 20px;
    position:absolute;
    z-index:0;
}

.quick-action{
    width: 100%; /*make sure the container fills the space so justify-content works*/
    display:flex;
    justify-content: space-between; /*pushes nav bar to other end*/
    align-items:center;
    z-index:1;
}

.favorite-button {
    width:150px;
    height:30px;
    font-size:0.7rem;
    font-family:'Inknut Antiqua';
    display:flex;
    justify-content: center;
    align-items: center;
}

.favorite-button i{
    font-family:'Times New Roman';
    font-size:1rem;
}

.close-button {
    width:50px;
    height:30px;
    padding:auto 5px;
    font-size:0.7rem;
    font-family:'Inknut Antiqua';
    cursor:pointer;
}

.poem-display{
    margin-top: 80px;
    width:90%;
    z-index:1;
}

.poem-body{
    width:100%;
    height:100%;
    margin-top:50px;
    margin-left:20px;
    margin-bottom:20px;
    z-index:100;
}

.poem-title{
    width:80%; 
    font-size:1.9rem;
}

.poem-poet{
    width: 80%;
    font-size:1.2rem;
}

.poem-dynasty{
    width: 80%;
    font-size:1rem;
}

hr {
    border: none;  
    margin:0;          
    height: 1px;  
    width:80%;           
    background-color: black;
}


/*actual poem content; the p tag*/
.poem-body p {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    white-space: pre-line; /*render \n from json as visible line breaks*/
    font-size: 1.4rem;
}


.features {
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items: flex-start; /*left-align children*/
    margin-left:20px;
}

.editing-fields{
    width:90%;
    margin:20px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.editing-fields h1{
    font-family:'Inknut Antiqua';
    font-size: 1.4rem;
}

.bottom-buttons{
    margin-top:50px;
}

.editing-button{
    padding:auto 5px;
    font-size:0.7rem;
    font-family:'Inknut Antiqua';
    cursor:pointer;
}

.translation p{
    font-family:'Inknut Antiqua';
    font-size:1rem;
    white-space: pre-line;
}

.translate-button{
    border-radius: 5px;
    font-size: 1rem;
    font-family:'Inknut Antiqua';
    transition: transform 0.2s ease-in-out;
    background: linear-gradient(135deg, #fff176, #fbc02d);
}

.translate-button:hover {
    transform: scale(1.1);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
}

.controls{
    display:flex;
    gap:20px;
}

