.favorites-page{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.favorites-content {
    width:70vw;
    min-height: 100vh;
    background: linear-gradient(to bottom, #71DACA 54%, #214A45 82%);
    display:flex;
    flex-direction: column;
    align-items: center; /*horizontal alignment since default is column this time*/
    padding-bottom: 40px;
    box-sizing: border-box;
}

.favorites-content p{
    font-family: 'Inknut Antiqua';
    font-size: small;
    font-style: italic;   
}

.favorites-title-bar{
    width:100%;
    height:10vh;
    min-height:120px;
    background: linear-gradient(to bottom, #847661, #DEC6A1);
    display:flex;
    justify-content: space-between; /*pushes nav bar to other end*/
    padding: 2rem 1rem 1rem; /* Responsive padding */
    margin-bottom: 20px;
    gap: 5px; 
    box-sizing: border-box;
}

.favorites-text {
    font-family:'Ma Shan Zheng';
    font-size: clamp(1.5rem, 4vw, 3rem); /* responsive font size */
    font-weight: 100;
    color: #744343;
    margin: 0; /*h1 elements come with default margins*/
}

.favorites-button-bar{
    display: flex;
    align-items: center;
}

.favorites-button-bar a{
    font-family:'Inknut Antiqua';
    font-size: clamp(1rem, 1vw, 1.4rem); /* responsive font size */
    font-weight: 100; 
    text-decoration: none;
    color:#000;
    background: transparent;
    margin:10px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.favorites-button-bar a:hover {
    color: #000;           /* Don't change color */
    transform: scale(1.1);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
}


.favorites-search-bar{
    box-sizing: border-box;
    width: 300px;          /* Adjust as needed */
    height: 40px;          /* Increase height */
    padding: 8px 12px;  
    font-size: 1rem;
    font-family:'Inknut Antiqua';
    border-color:#000;
    border: solid;
    border-radius: 8px; 
}

.favorites-library{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 5% 10%; 
    box-sizing: border-box;
}