.cn-homepage{
    box-sizing: border-box;
    min-height: 100vh;
    display:flex;
    justify-content:center;
}

.cn-content {
    width: 70vw;
    min-height: 100%;
    background: linear-gradient(to bottom, #71DACA 54%, #214A45 82%);
    padding-bottom: 80px;
    box-sizing: border-box;
}

.cn-title-bar{
    width:100%;
    height:20vh;
    min-height: 200px;
    background: linear-gradient(to bottom, #847661, #DEC6A1);
    padding: 5rem 1rem 2rem; /* Responsive padding */
    padding-bottom: 3rem;
    display: flex; /*automatic row alignment*/
    flex-direction: column;
    align-items: center; /*vertical*/
    justify-content: center; /*horizontal*/
    text-align: center;
    gap: 5px; 
    box-sizing: border-box;
}

.cn-welcome-text {
    font-family:'Ma Shan Zheng';
    font-size: clamp(1.6rem, 4vw, 3.8rem); /* responsive font size */
    font-weight: 100;
    color: #744343;
    margin: 0; /*h1 elements come with default margins*/
}

.cn-quote {
    font-family:'Inknut Antiqua';
    font-size: clamp(1.0rem, 4vw, 1.4rem); /* responsive font size */
    font-weight: 100;
    color: #744343;
    margin: 0; /*h1 elements come with default margins*/
}

.button-bar{
    display: flex;
    justify-content: center; 
    align-items: center;
    box-sizing: border-box;
}

.button-bar a{ 
    font-family:'Inknut Antiqua';
    font-size: clamp(1rem, 1vw, 1.4rem); /* responsive font size */
    font-weight: 100; 
    text-decoration: none;
    color:#000;
    background: transparent;
    margin:10px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.button-bar a:hover {
    color: #000;           /* Don't change color */
    transform: scale(1.1);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
  }

.cn-imgBackground{
    width: 100%;               /* scale to container width */
    aspect-ratio: 1439 / 959;  /* maintain original aspect ratio */
    background-image: url('/public/MountainPavilion.png'); /* in public to be accessible */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.collection{
    width:100%;
    font-family: 'Inknut Antiqua';
    text-align: center;
    font-weight: 100;
    font-size: 0.6rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poet-wheel{
    width: 70%;
    max-width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.poet-wheel-data {
    display: flex;
    justify-content: space-between; /*distributes items across*/
    overflow-x: scroll; /*allows horizontal scrolling if needed*/
    scroll-snap-type: x mandatory;
    gap: 20px;
    box-sizing: border-box;
}

.poet-wheel-data a{
    text-decoration:none;
}





