.modal-overlay-creation-screen {
    position:fixed;
    display:flex;
    justify-content:center;
    align-items: center;
    top: 50px;        /* moves box 100px down from top */
    left: 50%;         /* center horizontally */
    transform: translateX(-50%); /* center exactly horizontally */
    z-index:1000; /*High z-index to sit above everything*/
}


.creation-screen {
    background-image: url('../assets/TypeWriter.webp');
    background-size: cover;
    flex: 1; /* Makes it fill any available space in the parent*/
    width:600px;
    height:600px;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat; 
}

.creation-screen h1{
    font-family:'Inknut Antiqua';
    font-size: clamp(1rem, 2vw, 2rem); /* responsive font size */
}

.creation-screen-close-button{
    position: absolute;
    top:10px;
    left:10px;
}

.creation-screen-data {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    gap:20px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}
