.nav-bar{
    display: flex;
    align-items: center;
}

.nav-bar a{ 
    font-family:'Inknut Antiqua';
    font-size: clamp(1rem, 1vw, 1.4rem); /* responsive font size */
    font-weight: 100; 
    text-decoration: none;
    color:#000;
    background: transparent;
    margin:10px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.nav-bar a:hover {
    color: #000;           /* Don't change color */
    transform: scale(1.1);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
}
